<a href="https://colab.research.google.com/github/mariyagolchin/IntermediatePandasPythonLibraryforDataScience/blob/main/Task_1_Splitting_of_data_into_subsets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [37]:

df0=pd.read_csv("https://raw.githubusercontent.com/VinitaSilaparasetty/Coursera-Intermediate-Pandas/master/What_does_aid_to_Africa_finance_1.csv ")

df0.head(3) #Ensure data has loaded correctly.

       countryc  year  ...              dcnlnhthp              dcnlnothp
0  Burkina Faso  1970  ...  1.79769313486232e+308  1.79769313486232e+308
1  Burkina Faso  1970  ...  1.79769313486232e+308  1.79769313486232e+308
2  Burkina Faso  1971  ...  1.79769313486232e+308  1.79769313486232e+308

[3 rows x 50 columns]

In [50]:
# Splitting data

df_new = df0.copy()
# # df_new
df1= df_new.sample(n=100, random_state=0)
# df1= df_new.sample(frac= 0.7, random_state=0)
# df1
df_new1 =  df_new.drop(df1.index)
df_new1

         countryc  year  ...              dcnlnhthp              dcnlnothp
0    Burkina Faso  1970  ...  1.79769313486232e+308  1.79769313486232e+308
1    Burkina Faso  1970  ...  1.79769313486232e+308  1.79769313486232e+308
2    Burkina Faso  1971  ...  1.79769313486232e+308  1.79769313486232e+308
3    Burkina Faso  1972  ...  1.79769313486232e+308  1.79769313486232e+308
4    Burkina Faso  1973  ...                      0      -0.11642000079155
..            ...   ...  ...                    ...                    ...
292        Malawi  1972  ...                      0       2.88150310516357
293        Malawi  1973  ...                      0       1.07293200492859
297        Malawi  1977  ...                      0      0.233248993754387
298        Malawi  1978  ...                      0     -0.544030010700226
299        Malawi  1979  ...                      0    -0.0970200002193451

[201 rows x 50 columns]

In [36]:
# subset1
df1= df_new.sample(frac=0.7, random_state=1)
df1

         num_legs  num_wings  num_specimen_seen
snake           0          0                  6
spider          8          0                  5
sparrow         2          2                  8

https://www.w3resource.com/pandas/dataframe/dataframe-sample.php

# Pandas DataFrame: sample() function

In [14]:
df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
                   'num_wings': [2, 0, 0, 0],
                   'num_specimen_seen': [8, 2, 5, 6]},
                  index=['sparrow', 'fox', 'spider', 'snake'])
df

         num_legs  num_wings  num_specimen_seen
sparrow         2          2                  8
fox             4          0                  2
spider          8          0                  5
snake           0          0                  6

In [17]:
# Extract 3 random elements from the above Series:

df['num_legs'].sample(n=2, random_state=1)

snake     0
spider    8
Name: num_legs, dtype: int64

In [23]:
# A random 50% sample of the DataFrame with replacement:

df.sample(frac=0.5, replace=True, random_state=1)

       num_legs  num_wings  num_specimen_seen
fox           4          0                  2
snake         0          0                  6

In [21]:
# A random 70% sample of the DataFrame with replacement:

df.sample(frac=0.7, replace=True, random_state=1)

         num_legs  num_wings  num_specimen_seen
fox             4          0                  2
snake           0          0                  6
sparrow         2          2                  8

In [25]:
# Using a DataFrame column as weights:

df.sample(n=3, weights='num_specimen_seen', random_state=1)

         num_legs  num_wings  num_specimen_seen
fox             4          0                  2
snake           0          0                  6
sparrow         2          2                  8